<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="BooleanExpressionComplexity"/>

        <module name="CyclomaticComplexity"/>

        <!-- <module name="LineLength"/> -->

        <module name="MethodLength"/>

        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignore"/>
        </module>

        <!-- <module name="AvoidStarImport"/> -->

        <module name="IllegalImport"/>

        <module name="NeedBraces"/>
    </module>

    <module name="FileLength"/>

    <module name="FileTabCharacter"/>

    <module name="Header">
        <!-- <property name="headerFile" value="config/java.header"/> -->
        <property name="fileExtensions" value="java"/>
    </module>
</module>